PORT=8080
FRONTEND_ORIGIN=http://localhost:3000
ENVIRONMENT=development
JWT_SECRET=j3QE2U6eBQj8EvRUnhPF2Sf2YuChgfhgfjhg0JMeSVWDNO138RYMj3QE2U6eBQj8EvRUnhPF2Sf2YuC0JMeSVWDNO138RYMj3QE2U6eBQj8EvRUnhPF2Sf2YuC0JMeSVWDNO138RYM
JWT_EXPIRES=1h # 1 hour
LOG_LEVEL=info
FILE_LOG_LEVEL=info
APP_NAME=Coderz_Space

VERSION=0.1.0

# Database config
DB_URL=db_connectinon_url
MAX_DB_CONNS=10
MIN_DB_CONNS=2
MAX_DB_CONN_LIFETIME=1h
MAX_DB_CONN_IDLE_TIME=30m

